@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Square+Peg&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
.container{
    width: 90%;
    margin: 0 auto;
    background: #eee;
}
.container .headeing{
    font-size: 3.2rem;
    color: #333;
    margin-bottom: 3rem;
    text-align: center;
    font-family: 'Playpen Sans', cursive;
}
.container .menu-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container .menu-container .menu{
    text-align: center;
    padding: 0.5rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    outline: 0.1rem solid #ccc;
    outline-offset: -0.7rem;
    outline-offset: 0;
    outline: 0.1rem solid #000;
    width: 300px;
    margin: 1rem;
}
.menu-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.img{
    width: 100%;
    transform: scale(1);
    transition: all 1s ease-in-out;
}
.read-more {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.75rem;
    background: var(--color5);
    font-size: 2rem;
    border-top-left-radius: 1rem;
    transition: all 1s ease-in-out;
    transform: translate(100%, 100%);
}
.read-more i {
    text-decoration: none;
    color: #fff;
}
.menu-img:hover .img {
    transform: scale(1.2);
}
.menu-img:hover .read-more {
    transform: translate(0, 0);
}
.menu-description {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.avatar {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border: 1px solid #333;
    border-radius: 50%;
    padding: 5px;
}
.title, .date{
    font-size: 1.1rem;
    color: #333;
    font-family: 'Roboto', sans-serif;
}
.date {
    margin-top: 8px;
}
.menu-like {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    width: 100px;
    margin: auto;
    padding: 3px;
    border-radius: 10px;
    color: #333;
}
.dislike {
    border-left: 1px solid #8e8b8b;
    padding-left: 8px;
}
.like i, .dislike i {
    cursor: pointer
}