@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Square+Peg&display=swap');
.container{
    width: 100%;
    background: #eee;
}
.container .menu-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.menu{
    text-align: center;
    padding: 0.5rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    outline: 0.1rem solid #ccc;
    outline-offset: -0.7rem;
    outline-offset: 0;
    outline: 0.1rem solid #000;
    width: 300px;
    margin: 1rem;
    margin-top: 110px;
    position: relative;
}
.menu-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.img {
    width: 100%;
    transform: scale(1);
    transition: all 1s ease-in-out;
    height: 270px;
    object-fit: contain;
}
.read-more {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.75rem;
    background: var(--color5);
    font-size: 2rem;
    border-top-left-radius: 1rem;
    transition: all 1s ease-in-out;
    transform: translate(100%, 100%);
}
.read-more i {
    text-decoration: none;
    color: #fff;
}
.menu-img:hover .img {
    transform: scale(1.2);
}
.menu-img:hover .read-more {
    transform: translate(0, 0);
}
.menu-description {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.avatar {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border: 1px solid #333;
    border-radius: 50%;
    padding: 5px;
}
.title, .date{
    font-size: 1.1rem;
    color: #333;
    font-family: 'Roboto', sans-serif;
}
.date {
    margin-top: 8px;
    font-size: 13px;
}
.date span {
    font-weight: bold;
}
.menu-like {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    width: 100px;
    margin: auto;
    padding: 3px;
    border-radius: 10px;
    color: #333;
}
.dislike {
    border-left: 1px solid #8e8b8b;
    padding-left: 8px;
}
.like i, .dislike i {
    cursor: pointer
}
.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: var(--color3);
    position: fixed;
    width: 100%;
    z-index: 50;
    justify-content: space-around;
    border-bottom: 2px solid var(--color4)
}
.header-img {
    width: 190px;
    object-fit: contain;
}
.header-search {
    display: flex;
    position: relative;
}
.header-search-input {
    width: 250px;
    height: 35px;
    padding: 10px;
    border: 2px solid var(--color1);
    border-radius: 20px;
    color: var(--color1);;
}
.span-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    background-color: var(--color1);
    width: 42px;
    height: 35px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
i.fa-solid.fa-magnifying-glass {
    line-height: 35px;
    margin-left: 15px
}

.change {
    position: absolute;
    bottom: 3px;
    cursor: pointer;
    background-color: #eee;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
    line-height: 30px;
    color: var(--color4)
}
.delete {
    left: 60px;
}
.edit {
    right: 60px;
}
.edit i {
    text-decoration: none;
    color: var(--color4)!important
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .spinner-container {
    height: 90vh;
    display: flex;
    align-items: center;
}
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 7px solid #f3f3f3;
    border-top: 10px solid var(--color2); 
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }