.image-details {
  background-color: #eee;
  padding: 30px;

}
.image-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 600px;
}
.image {
  width: 500px;
  margin: 5% auto;
  object-fit: contain;
  border: 2px solid;
  padding: 5px;
  border-radius: 10px;
}
.image-info-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: auto;
  position: relative;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-avatar {
  margin: 10px auto;
}

.author-avatar-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.author-name {
  color: var(--color1);
  font-size: 18px;
  padding: 10px
}
.likes {
  width: 80px;
  display: flex;
  justify-content: space-around;
  background-color: var(--color3);
  padding: 5px;
  border-radius: 11px;
  font-size: 20px;
  color: var(--color1);
}
.isLiked {
  color: var(--color4)
}

.image-details-info-2 {
  padding: 10px;
  background-color: #dfdfdf;
  color: var(--color1);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  width: 600px;
  margin: 10px auto 20px;
}

.date {
  margin-bottom: 20px;
  font-size: 11px;
}

.details {
  color: var(--color1);
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.details h2 {
  margin: 10px;
}

/* responsive */
/* breakpoint:
    576px
    768px
    992px
    1200px
*/
@media (max-width: 740px) {
  .image-container {
    width: 350px;
    padding-top: 45px;
  }
  .image {
    width: 100%;
  }
  .modify {
    display: flex;
    flex-direction: row;
    bottom: -10px;
  }
  .modify i {
    font-size: 20px;
    margin: auto 15px;
  }
  .image-info-1 {
    width: 400px;
  }
  .image-details-info-2 {
    width: 400px;
    flex-direction: column;
  }
  .details {
    font-size: 15px;
  }
}

@media (min-width: 250px) and (max-width: 450px) {
    .image-container {
        width: 200px;
    }
    .modify {
        bottom: -40px;
    }
    .modify i {
        font-size: 16px;
        margin: 20px 10px;
    }
    .image-info-1 {
        width: 250px;
    }
    .author {
        flex-direction: column;
    }
    .author-name {
        font-size: 15px;
        font-weight: bold;
        padding: auto;
    }
    .likes {
        width: 100px;
        padding: 8px;
        border-radius: 11px;
        font-size: 15px;
    }
    .image-details-info-2 {
        width: 250px;
        margin-top: 15px
    }
    .date {
        margin-bottom: 6px;
        font-size: 9px;
        text-align: end;
    }
    .details {
        font-size: 14px;
    }
}
