.share-container {
    margin: 20px;
    position: relative;
}
.share-img {
    width: 550px;
    height: 550px;
    background: var(--color3);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.share-img img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    padding: 10px;
    border: 2px dashed var(--color4)
}
.share-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto 10px;
}
.image-upload label {
    cursor: pointer;
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
}
.share-title, .share-description {
    margin: 25px auto 15px;
    width: 400px;
    font-size: 18px;
    padding: 12px;
    border: 2px solid #333;
    border-radius: 2px;
    font-family: poppins;
}
.share-description {
    height: 200px;
}

/* Responsive */
@media (max-width: 600px) {
    .share-img {
        width: 370px;
        height: 350px;
    }
    .share-form-container {
        margin: 1px auto 10px;
    }
    .share-title, .share-description {
        margin: 18px auto 15px;
        width: 90%;
        font-size: 15px;
        padding: 9px;
    }
}
@media (min-width: 260px) and (max-width: 400px) {
    .share-img {
        width: 90%;
        height: auto;
    }
}